header {
  align-items: center;
  display: flex;
  height: 84px;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  

  #nav-bar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 30px;

    li {
      padding: 0 10px;
      display: inline-block;
      line-height: 24px;
      outline: none;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        height: 100%;
        width: 100%;
        color: white;
        text-transform: uppercase;
        text-decoration: none;

      }

    }
  }

  .brand{
    .logo{
      top: 25px;
      justify-content: flex-start;
      left: 30px;
      position: absolute;
    }
  }
}
