#main {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url($img-path + 'background.jpg') no-repeat center center;
  background-size: cover;
  color: $dark-grey;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  .hero-content{
    margin-top: 120px;
    width: 900px;
    p{
      color: #fff;
      width: 0 auto;
      padding: 20px;
      font-size: 1.4em;
      text-align: center;
    }

  }
  #facriativo-main {
    color: $black;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: responsive(26, 70);
    max-width: 980px;

    

    div {
      width: 100%;
      text-align: center;
    }
  }


}
